<div class="container home-component">
  <div class="row">
    <div class="col">
      <div class="home-component__stats-widget">
        <h3>Aktualny miesiąc</h3>
        <span>Ilość / Wartość</span>
        <p>6szt. <i class="material-icons green-color float-right">arrow_upward</i></p>
      </div>
    </div>

    <div class="col">
      <div class="home-component__stats-widget">
        <h3>Ogółem</h3>
        <span>Ilość / Wartość</span>
        <p>23szt. <i class="material-icons red-color float-right">arrow_downward</i></p>
      </div>
    </div>

    <div class="col">
      <div class="home-component__stats-widget">
        <h3>Aktualny miesiąc</h3>
        <span>Wartość dokumentów</span>
        <p>10 500zł <i class="material-icons red-color float-right">arrow_downward</i></p>
      </div>
    </div>

    <div class="col">
      <div class="home-component__stats-widget">
        <h3>Ogółem</h3>
        <span>Ilość dokumentów</span>
        <p>135 835zł <i class="material-icons green-color float-right">arrow_upward</i></p>
      </div>
    </div>
  </div>
</div>
