@import '../../../../styles/include';

.mobile-navigation {
  position: fixed;
  top: 0;
  z-index: 101;
  background: $major-dark-blue;
  width: 100%;
  min-height: 70%;
  max-height: 100%;
  overflow: scroll;
  color: $white;
  padding: 40px 20px;

  @media screen and (min-width: $screen-sm-min) {
    height: 100%;
  }

  &__header {
    font-family: $quicksand;
    color: $blue-header !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 20px;

    i {
      margin-left: 20px;
      vertical-align: middle;
      font-size: 22px;
      line-height: 15px;
    }

    &__close {
      position: absolute;
      top: -10px;
      left: 0;
      font-size: 30px !important;
      color: $grey;
    }
  }
}
