@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500,900&subset=latin,latin-ext");
body {
  margin: 0;
  padding: 0; }

form .form-input {
  -webkit-appearance: none;
  transition: background 0s ease-out;
  position: relative;
  height: 40px;
  margin: 20px 0;
  padding: 0 10px;
  top: 0; }
  form .form-input.d-md-inline-flex {
    margin-top: 0 !important; }
  form .form-input label {
    position: absolute;
    pointer-events: none;
    line-height: 16px;
    top: 7px;
    left: 10px;
    color: #637282; }
  form .form-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    line-height: 30px;
    padding: 5px 0; }
  form .form-input input,
  form .form-input select {
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #D0D8E9;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 41px;
    margin: 0;
    padding: 5px; }
    form .form-input input:focus,
    form .form-input select:focus {
      border-bottom: 1px solid #1F2A40; }
      form .form-input input:focus + label,
      form .form-input select:focus + label {
        top: -13px;
        font-size: 0.9em;
        transition: all 0.5s ease; }
  form .form-input__active input,
  form .form-input__active select {
    border-bottom: 1px solid #1F2A40; }
  form .form-input__active label {
    top: -13px;
    font-size: 0.9em;
    transition: all 0.5s ease; }
  form .form-input__invalid input,
  form .form-input__invalid select {
    border-bottom: 1px solid #8f1d2e;
    transition: all 1s ease; }
    form .form-input__invalid input + label,
    form .form-input__invalid select + label {
      color: #8f1d2e; }

.edit-document {
  font-family: "Quicksand", sans-serif; }
  .edit-document__white-box {
    background: #ffffff;
    margin: 0;
    padding: 20px; }
    .edit-document__white-box h6 {
      color: #637282;
      margin: 10px 0 30px;
      font-size: 20px; }
      .edit-document__white-box h6 i {
        font-size: 22px;
        line-height: 22px;
        vertical-align: top;
        padding: 0;
        margin: 0; }
        .edit-document__white-box h6 i:first-child {
          margin-right: 5px; }
  .edit-document__add-position {
    padding: 0.15em 0.5em 0.15em 0.3em;
    font-size: 0.7em;
    margin-top: -3px; }
    .edit-document__add-position i {
      font-size: 1em !important;
      margin-right: 0 !important; }
  .edit-document__remove-position {
    float: right !important;
    position: absolute;
    top: 0px;
    right: -20px;
    color: #8f1d2e;
    font-size: 1.2em; }
  .edit-document__positions__position {
    padding-top: 10px; }
    @media screen and (max-width: 959px) {
      .edit-document__positions__position {
        border-top: 1px solid #637282; }
        .edit-document__positions__position:first-child {
          border: none; } }
  .edit-document__positions-summary {
    padding-top: 20px;
    color: #D0D8E9; }
    .edit-document__positions-summary span {
      color: #637282; }
  .edit-document button i {
    line-height: 1px;
    vertical-align: middle; }

/*# sourceMappingURL=edit-document.component.css.map */
